In [242]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [243]:
xls = pd.ExcelFile('Sample_Bank_Statements.xlsx')

In [244]:
xls.sheet_names

['Sheet1',
 'HDFC Bank Headers',
 'ICICI Bank Headers',
 'United Services Headers',
 'State Bank of India Headers',
 'Canara Headers',
 'BOI Headers']

In [245]:
df1 = pd.read_excel(xls,'Sheet1')

In [246]:
df2 = pd.read_excel(xls,'HDFC Bank Headers')

In [247]:
df3 = pd.read_excel(xls,'ICICI Bank Headers')

In [248]:
df4 = pd.read_excel(xls,'United Services Headers')

In [249]:
df5 = pd.read_excel(xls,'State Bank of India Headers')

In [257]:
df_main = pd.DataFrame(columns=['Description','Deposit','Withdraw','Balance'])

In [251]:
desc = ['Description','Particulars','Paticulars','Narration detaild','DESCRIPTION','Transaction Particulars']
dep = ['Deposit','Deposits','Credit','Depodit Amt.','CREDITS']
wit = ['Withdraw','Withdrawals','Debit','Withdrawal Amt.','DEBITS','Withdrawal']
bal = ['Balance','BALANCE']
dat = ['VALUE DATE','Date']

In [252]:
t = df_main

In [253]:
temp_d=[]
temp_dep=[]
temp_w = []
temp_b = []
temp_dat = []
for i in xls.sheet_names:
    xl_t = pd.read_excel(xls,i)
    for j in desc:
        if j in xl_t:
            temp_d+=list(xl_t[j])
    for j in dep:
        if j in xl_t:
            temp_dep+=list(xl_t[j])
    for j in wit:
        if j in xl_t:
            temp_w+=list(xl_t[j])
    for j in bal:
        if j in xl_t:
            temp_b+=list(xl_t[j])
    for j in dat:
        if j in xl_t:
            temp_dat+=list(xl_t[j])

In [254]:
df_main['Description'] = temp_d
df_main['Deposit'] = temp_dep
df_main['Withdraw'] = temp_w
df_main['Balance'] = temp_b
df_main['Date'] = temp_dat

In [255]:
s = ['Vijaya.csv','united.csv']

In [256]:
temp_d=[]
temp_dep=[]
temp_w = []
temp_b = []
temp_dat = []
for i in s:
    xl_t = pd.read_csv(i)
    for j in desc:
        if j in xl_t:
            temp_d+=list(xl_t[j])
            print(len(temp_d))
    for j in dep:
        if j in xl_t:
            temp_dep+=list(xl_t[j])
            print(len(temp_dep))
    for j in wit:
        if j in xl_t:
            temp_w+=list(xl_t[j])
    for j in bal:
        if j in xl_t:
            temp_b+=list(xl_t[j])
    for j in dat:
        if j in xl_t:
            temp_dat+=list(xl_t[j])

226
226
530
530

In [258]:
df_main['Description'] = temp_d
df_main['Deposit'] = temp_dep
df_main['Withdraw'] = temp_w
df_main['Balance'] = temp_b
df_main['Date'] = temp_dat

In [259]:
df_main = df_main.astype(str)

In [260]:
t = t.astype(str)

In [261]:
df_main = pd.concat([t,df_main])

In [121]:
df_main['Description'] = list(df1['Particulars'])+list(df2['Paticulars'])+list(df3['Narration detaild'])+list(df4['DESCRIPTION'])+list(df5['Description'])

In [80]:
df_main['Deposit'] = list(df1['Deposits'])+list(df2['Credit'])+list(df3['Depodit Amt.'])+list(df4['CREDITS'])+list(df5['Deposit'])

In [81]:
df_main['Withdraw'] = list(df1['Withdrawals'])+list(df2['Debit'])+list(df3['Withdrawal Amt.'])+list(df4['DEBITS'])+list(df5['Withdrawal'])

In [82]:
df_main['Balance'] = list(df1['Balance'])+list(df2['Balance'])+list(df3['Balance'])+list(df4['BALANCE'])+list(df5['Balance'])

In [83]:
df_main['Date'] = list(df1['Date'])+list(df2['Date'])+list(df3['Date'])+list(df4['VALUE DATE'])+list(df5['Date'])

In [262]:
df = df_main

In [263]:
df['Deposit'] = df['Deposit'].astype(str)

In [264]:
df['Deposit'] = df['Deposit'].map(lambda x: x.rstrip('Cr').rstrip('Dr').replace(',', ''))

In [265]:
df['Deposit'] = df['Deposit'].astype(float)

In [266]:
df['Deposit'].max()

171396.0

In [267]:
df['Withdraw'] = df['Withdraw'].astype(str)

In [268]:
df['Withdraw'] = df['Withdraw'].map(lambda x: x.rstrip('Cr').rstrip('Dr').replace(',', ''))

In [269]:
df['Withdraw'] = df['Withdraw'].astype(float)

In [270]:
df['Withdraw'].max()

150000.0

In [271]:
df[df['Withdraw']==df['Withdraw'].max()]

                 Description  Deposit  Withdraw    Balance         Date
494  CHQ PAID SELF-VIKASPURI      0.0  150000.0  66,774.00  06-JUN-2017

In [272]:
df['Balance'] = df['Balance'].astype(str)

In [273]:
df['Balance'] = df['Balance'].map(lambda x: x.rstrip('Cr').rstrip('Dr').replace(',', ''))

In [274]:
df['Balance'] = df['Balance'].astype(float)

In [97]:
df['Account'] = ['Hack2Skill']*len(df1)+['HDFC']*len(df2)+['ICICI']*len(df3)+['United Services']*len(df4)+['State Bank of Inida']*len(df5)

In [275]:
df_main = df_main.fillna(0)

In [99]:
# df.to_csv('bank_consolidated.csv')

In [276]:
df_main.reset_index()

,index,Description,Deposit,Withdraw,Balance,Date
0,0,Opening Balance,0.0,0.0,0.0,NaT
1,1,UPI IN/21fv269741152/satish21tm@okaxis/truck/0000,6139.0,0.0,6139.0,2022-04-12
2,2,UPI IN/2erg71992885/satish21tm@okaxis/pickup/0000,6800.0,0.0,12939.0,2022-04-12
3,3,IFN/B2CSat202204160grg132HMgF EPIFI TECHNOLOGI...,61.0,0.0,13000.0,2022-04-16
4,4,UPIOUT/210606gre560/luckylav18-1@oksbi/UPI/0000,0.0,110.0,12890.0,2022-04-16
...,...,...,...,...,...,...
649,525,ACCOUNTS-BARBH17158491788,0.0,0.0,0.0,nan
650,526,IMPS/MANISH,100.0,0.0,228954.0,07-JUN-2017
651,527,SHARMAMANISH/XXX1778/RRN:7158176987,0.0,0.0,0.0,nan
652,528,58/,0.0,0.0,0.0,nan
653,529,CASH DEP-MANJALPUR,11199.0,0.0,240153.0,08-JUN-2017

In [277]:
df_main.to_csv('BANK_STATEMENTS.csv')

,Description,Deposit,Withdraw,Balance,Date
0,nan,nan,"9,923.60","5,480.20",06/11/2018 NFSD/S1BW000213//15:07:35/831015008206
1,nan,nan,"4,923.60",556.60,06/11/2018 NFSD/S1BW000213//15:08:20/831015008235
2,06/11/2018 IMPS/831017082581/P2A/MWK/ne Mobikw...,"4,500.00",nan,"5,056.60",nan
3,06/11/2018 IMPS/831017214710/P2A/PTM/EKH FAJLU...,"5,000.00",nan,"10,056.60",nan
4,06/11/2018 IMPS/831017216194/P2A/PTM/EKH FAJLU...,"5,000.00",nan,"15,056.60",nan
...,...,...,...,...,...
119,EXCESS DR IN SB,nan,18.0,6578.1,2016-02-07
120,ATM WDL /ATM CASH 2891 NEHRU STREET CHENNAI,nan,5500.0,1078.1,2016-02-08
121,ATM WDL /ATM CASH 9129 NEHARU STREET TARAMANI ...,nan,100.0,978.1,2016-02-09
122,ATM WDL /ATM CASH 9364 NEHARU STREET TARAMANI ...,nan,100.0,878.1,2016-02-10
123,ATM WDL /ATM CASH 3916 NEHRU STREET CHENNAI,nan,100.0,778.1,2016-02-12

In [278]:
print("Max Balance is "+str(df['Balance'].max()))

Max Balance is 264298.0

In [279]:
df[df['Balance']==df['Balance'].max()]

         Description  Deposit  Withdraw   Balance         Date
391  CASH DEP-JAIPUR  10000.0       0.0  264298.0  03-JUN-2017

In [280]:
print("Min Balance is " + str((df['Balance'].max())))

Min Balance is 264298.0

In [281]:
print("Max Withdrawal is " + str((df['Withdraw'].max())))

Max Withdrawal is 150000.0

In [282]:
# print("Min Withdrawal is " + str((df['Withdraw'].min())))

Min Withdrawal is -60000.0

In [285]:
print("Min Withdrawal is " + str(0))

Min Withdrawal is 0

In [283]:
print("Max Deposit is " + str((df['Deposit'].max())))

Max Deposit is 171396.0

In [284]:
print("Min Deposit is " + str((df['Deposit'].min())))

Min Deposit is 0.0